@import "tailwindcss";

@font-face {
  font-family: "Greve";
  src: url("/fonts/greve-variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
}
