@import "tailwindcss";

@font-face {
  font-family: "Rational";
  src: url("/fonts/Rational.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
}
